@model NhatKySanLuongKhoan.Models.NHANCONG

@{ ViewBag.Title = "Delete"; }

<h2>Detail</h2>

<div>
    <h4>Chi Tiết Nhân Công</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhongBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhongBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuongHopDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongHopDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuongBaoHiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongBaoHiem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Back to List", "Index")
                </div>}
</div>
