
@using NhatKySanLuongKhoan.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<NHANCONG>


@{ ViewBag.Title = "NhanCong";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Danh Sách Nhân Công</h2>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>

                <p>
                    @Html.ActionLink("Create new", "Create")

                </p>
                <table class="table">
                    <form class="navbar-form navbar-right" action="/CongNhan/timkiem" method="post">
                        <span class="icon icon-search2"></span>
                        <input type="text" name="search" class="form-control border-0" placeholder="Nhập Tên Nhân Công" style="width:500px;height:40px;background: #e8f0fe !important; ">
                    </form>

                    <tr>
                        <th>
                           Mã Công Nhân
                        </th>
                        <th>
                            Họ Tên
                        </th>
                        <th>
                            Chức Vụ
                        </th>
                        <th>
                            Phòng Ban
                        </th>
                        <th>
                           Lương Hợp Đồng
                        </th>
                        <th>
                           Lương Bảo Hiểm
                        </th>
                        <th>
                           Quê Quán
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaNC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hoten)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChucVu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhongBan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LuongHopDong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LuongBaoHiem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QueQuan)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MaNC }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MaNC })
                            </td>
                        </tr>
                    }

                </table>

                <br />
                <br />
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new { page }))
