@model NhatKySanLuongKhoan.Models.CV

@{ ViewBag.Title = "Delete";
                Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Xóa Công việc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DinhMucKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DinhMucKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeSoKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeSoKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DinhMucLaoDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DinhMucLaoDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>}
</div>
