
@using NhatKySanLuongKhoan.Models;
@model IEnumerable <CV>

@{ ViewBag.Title = "CongViec";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Danh Sách Công Việc</h2>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <form class="navbar-form navbar-right" action="/CongViec/timkiem" method="post">
                        <span class="icon icon-search2"></span>
                        <input type="text" name="search" class="form-control border-0" placeholder="Nhập Tên Công Việc" style="width:500px;height:40px;background: #e8f0fe !important;">
                    </form>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MaCV)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TenCV)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MaSP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DonGia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DinhMucKhoan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DinhMucLaoDong)
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaCV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenCV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonGia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DinhMucKhoan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DinhMucLaoDong)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MaCV }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MaCV })
                            </td>
                        </tr>
                    }

                </table>

